*{
	box-sizing: border-box;
	outline: none;
	color: black;
	text-decoration: none;
}

body{
	background: url(assets/70258224-full-hd-wallpapers.jpeg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
}

.wrapper{
	margin: 10% 25% 0 25%;
	min-height: 100%;
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(38,0,255,1) 45%, rgba(0,212,255,1) 100%);
	padding-bottom: 5%;
}

.header{
    height: 32px;
    padding: 32px;
    text-align: justify;
    letter-spacing: 1px;
}

.navbar {
	border-bottom: 1px solid yellow;
	color: white;
	text-align: center;
	font-size: 30px;
}

.logo{
    max-height: 50px;
    max-width: 50px;
    margin: 8px 5px 0 5px;
}

.articles{
	margin-top: 10%;
}

.art{
	margin: 5% 20% 0 20%;
	border-bottom: 1px solid yellow;
	padding-bottom: 10px;
	font-size: 18px;
	color: yellow;
}

.art:last-child{
	margin-bottom: 5%;
}

.title{
	color: white;
	font-size: 25px;
}
